<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="/favicon.ico">
<title>lango-lib</title>
<link rel="stylesheet" href="/lango-lib/umi.8faca2de.css">
<script src="/lango-lib/preload_helper.9c8fb04e.js"></script>
</head>
<body>
<div id="root"></div>
<script src="/lango-lib/umi.6fe372c9.js"></script>
</body>
</html>